
@{
    ViewData["Title"] = "Index";
}


<h1>假的支付</h1>
<form action="https://localhost:44316/pay/post" method="post">
    <input name="user" placeholder="姓名" />
    <input name="price" placeholder="金额" />
    <button type="submit">提交</button>
</form>

